* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #D84001;
}

main {
    min-height: calc(100vh - 5em - 10em);
    display: flex;
    flex-direction: column;
    top: 5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

nav.navbar {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    height: 5em;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo {
    font-family: 'Righteous', cursive;
    font-size: 2em;
    cursor: pointer;
}

.circlemain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 4%;
    width: 25em;
    height: 25em;
    text-align: center;
    box-shadow: -1px 1px 2px 2px rgb(0, 0, 0, 0.1);
}

.circlemain .child {
    margin: auto;
}

.parent {
    display: flex;
    height: 100vh;
}

.block {
    margin: auto;
}

.blockservices {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    padding: 5%;
}

.textservice {
    text-align: center;
    width: 40%;
}

.textservice2 {
    text-align: center;
    width: 50%;
}

.textservice2 h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
}

.textservice h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
}

.block2 {
    margin-top: 2%;
}

.svgservice {
    width: 50%;
}

.svgservice img {
    width: 100%;
}

footer {
    position: relative;
    background-color: #191970;
    color: white;
    height: 12em;
}

.contact {
    display: none;
    position: fixed;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: white;
    left: 40%;
    bottom: 1%;
    top: 10%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    z-index: 999;
}

.resume {
    text-align: center;
}

.resume h5 {
    font-family: 'Righteous', cursive;
}

form input {
    width: 80%;
}

input {
    height: calc(0.7em + 0.75rem + 2px);
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    border-bottom: solid black 2px;
    background-color: transparent;
    margin-bottom: 6%;
    color: black;
    width: 95%;
}

input:focus {
    outline: none;
    box-shadow: none;
    border-color: #D84001;
    background-color: transparent;
}

input:after {
    background-color: transparent;
    color: black;
}

form textarea {
    width: 80%;
    height: 6em;
}

.but {
    width: 40%;
    color: white;
    background: black;
    padding: 3%;
    transition: 400ms;
}

.but:hover {
    color: white;
    background: #D84001;
    transition: 400ms;
}

.title {
    font-family: 'Roboto Slab', serif;
}

.txt {
    width: 60%;
    margin: auto;
    line-height: 2em;
}

.cl {
    cursor: pointer;
    color: black;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    display: inline;
    justify-content: space-around;
    color: white;
    cursor: pointer;
}

li:hover {
    opacity: 0.8;
    transition: 200ms;
}

.mainsvg {
    width: 40%;
}

.mainsvg img {
    margin: auto;
    width: 100%;
}

.myweb {
    font-size: 1.2em;
    font-weight: bold;
    color: yellow;
    transition: 400ms;
}

.myweb:hover {
    transition: 400ms;
    color: goldenrod;
}

@media screen and (max-width: 640px) {
    .contact {
      width: 100%;
      border-radius: 0;
      left: 0;
      top: 0;
    }
    form {
        margin-top: 10%;
    }
    .mainsvg {
        display: none;
    }
    .navnav {
        width: 65%!important;
    }
    .svgservice {
        width: 90%;
        padding: 0;
    }
    .textservice {
        margin: 0;
        width: 90%;
    }
    .resume p {
        display: none;
    }
    .blockservices {
        flex-wrap: wrap;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
  }

  @media screen and (max-width: 880px) {
      .circlemain {
          border-radius: 0%;
      }
  }